@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,800;1,300&display=swap');
html{
    box-sizing: border-box;
}

*{
    color: white;
}

.learnmore h2, blockquote, .quote p{
    color: black;
}

body{
    margin: 0;
    box-sizing: inherit;
    font-family: 'Barlow', sans-serif;
    flex-direction: column;
}

.pagewrapper{
    overflow-x: hidden;
}

.page{
    max-width: 1200px;
    margin: auto;
}

.full{
    padding-left: 100vw;
    margin-left: -100vw;
    padding-right: 100vw;
    margin-right: -100vw;
}

a{
    text-decoration: none;
}

.hero p, a{
    font-size: 1.15rem;
}

h2, blockquote{
    font-size: 2.3rem;
}

p{
    opacity: 0.8;
}

header,ul,body,.hero,.container,.lastcall,footer,.container,.item,.quote{
    display: flex;
}


ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
    gap: 1rem;
}

h1{
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
}

h2{
    text-align: center;
}

p{
    line-height: 1.5;
}

header{
    align-items: baseline;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.logo{
    font-size: 1.5rem;
}

.hero,header,footer,.itemfooter{
    background: rgb(178, 76, 36);
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%235b1111' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.hero,.learnmore,.quote,.lastcall,h2{
    margin-bottom: 3rem;
}

button{
    background: teal;
    border: none;
    padding: 0.7rem 1rem;
}

.hero{
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 3.5rem;
    align-items: center;
}

.hero div{
    width: 45ch;
}
.hero img{
    width: 50%;
}
.container{
    justify-content: space-between;
}

.item{
    flex-direction: column;
    border: rgba(0, 0, 0, 0.2) solid 1px;
    width: 25ch;
}

.item img{
    flex: 1;
    width: 55%;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.itemfooter{
    text-align: center;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}

.quote{
    flex-direction: column;
    background-color: rgb(224, 224, 224);
    height: 40vh;
    justify-content: center;
}

.quote p{
    margin-left: auto;
    font-weight: bold;
}

blockquote{
    margin: 0;
    font-weight: 300; 
    font-style: italic;

}

.lastcall{
    background-color: chocolate;
    padding: 2rem 4rem;
    align-items: center;
    justify-content: space-between;
}

h3, .lastcall p{
    margin: 0rem;
}

.lastcall, button, .item{
    border-radius: 0.5rem;
}

footer{
    align-items: center;
    justify-content: space-between;
}